# General Django
export DATABASE_URL='postgres://USERNAME:PASSWORD@localhost:5432/DATABASE'
export SECRET_KEY='secret'

# Redis
export REDIS_URL='redis://localhost:6379/1'

# Environment
export DEBUG='TRUE'
export ENVIRONMENT='DEVELOPMENT'

# Media/Static Files
export STATIC_ROOT=''
export MEDIA_ROOT=''

# Email
export EMAIL_HOST=''
export EMAIL_HOST_USER=''
export EMAIL_HOST_PASSWORD=''
export DEFAULT_FROM_EMAIL=''

# ROLLBAR
export ROLLBAR_TOKEN=''